[Desktop Entry]
Categories=Games;Strategy;Puzzle;
Comment=Play tic-tac-toe in a symphony of colors and sound
Exec=minimal3t
GenericName=Play tic-tac-toe in a symphony of colors and sound
Icon=minimal3t
Keywords=games;puzzle;tic-tac-toe;ai;strategy;
Name=Minimal Tic Tac Toe
Terminal=false
Type=Application
