[Desktop Entry]
Categories=Games;Strategy;Puzzle;
Comment=Play tic-tac-toe in a symphony of colors and sound
Exec=supertac
GenericName=Play tic-tac-toe in a symphony of colors and sound
Icon=supertac
Keywords=games;puzzle;tic-tac-toe;ai;strategy;
Name=SuperTac
Terminal=false
Type=Application
